.displayTile{
	width: 80px;
	height: 80px;
	font-size: 12px;
    text-align: left;
}

.choiceTile{
	width: 60px;
	height: 60px;
	font-size: 24px;
    text-align: center;
}

.gameBoard{
	display: none;
}

.menu{
	display: block;
}
.center{
	margin: 0 auto;
}



