.displayTile{
	width: 160px;
	height: 160px;
	font-size: 36px;
    text-align: left;
}

.choiceTile{
	width: 120px;
	height: 120px;
	font-size: 48px;
    text-align: center;
}

.pTitle{
	font-size: 12px;
    text-align: center;
}

.log{
	font-size: 10px;
}

.gameBoard{
	display: none;
}

.menu{
	display: block;
}
.center{
	margin: 0 auto;
}



